@import "abstracts/fonts";
@import "abstracts/mixins";
@import "abstracts/variables";

@import 'base/reset';
@import 'base/base';
@import "base/typography";

@import "components/buttons";
@import "components/sidebar";
@import "components/user-info-box";
@import "components/table-states";
@import "components/map";
@import "components/data-box";
@import "components/visitors-profile";
@import "components/filter-bar";
@import "components/calendar_widget";
@import "components/spinner";
@import "components/sidebar-nav";
@import "components/default-widget";

@import 'layout/navbar';
@import 'layout/grid';

@import "page/upload_file";
@import "page/login";

// remove into separete container 
.criteria-search {
    position: relative;
    &__input {
        border: none;
        border-bottom: 1px solid #ccc;
        border-radius: 0;
    }
    &__box {
        display: none;
        position: absolute;
        line-height: 22px;
        min-width: 250px;
        top: 3rem
    }
    &__title {
        color: #000;
        font-size: 1.4rem;
        font-weight: 500;
    }
    &__description {
        font-size: 1.2rem;
    }
}

.date-range {
    &__input{
        border: 1px solid #eee;
        border-radius: 3px;
        padding: .7rem 1rem;
    }

    .fa-calendar {
        margin-top: 1rem;
        padding-right: 1rem;
        font-size: 2.2rem;
        color: #ddd;
    }
}