body {
  font-family: 'Poppins', sans-serif; }

ul {
  list-style: none; }

table {
  margin-bottom: 0 !important; }

.card,
.card-header,
.card-footer {
  border-color: #eaebf2; }

.card {
  border-radius: 3px; }

html {
  font-size: 10px; }

body {
  background: #f5f5f5;
  padding-top: 5rem; }

main {
  max-width: 100rem;
  margin: 0 auto 5em auto;
  font-size: 1.4rem; }

.page-sidebar {
  position: fixed;
  top: 57px;
  bottom: 0;
  left: -230px;
  width: 230px;
  background-color: #fff;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: 1001;
  -webkit-box-shadow: 0 5px 20px #d6dee4;
  box-shadow: 0 5px 20px #d6dee4; }

.user-info-box {
  font-size: 1.5rem;
  border: 1px solid #eaebf2;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 1.1rem .8rem;
  border-radius: 3px; }
  @media (max-width: 768px) {
    .user-info-box {
      border-bottom: 1px solid #eee; } }
  .user-info-box .chart {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    @media (max-width: 960px) {
      .user-info-box .chart {
        top: 0;
        transform: translateY(0);
        left: 50%;
        transform: translateX(-50%); } }
    .user-info-box .chart__icon {
      font-size: 2rem;
      position: absolute;
      top: 50%;
      transform: translate(0, -58%); }
      .user-info-box .chart__icon--1 {
        color: #5a68bf;
        left: 21px; }
      .user-info-box .chart__icon--2 {
        color: #18c5a9;
        left: 22px; }
      .user-info-box .chart__icon--3 {
        color: #3499e2;
        left: 18px; }
  .user-info-box__criteria {
    font-weight: 700;
    color: #000;
    font-size: 1.2rem;
    right: 1rem;
    top: 1rem;
    border-radius: 3px; }
    .user-info-box__criteria--1 {
      color: #5a68bf; }
    .user-info-box__criteria--2 {
      color: #18c5a9; }
    .user-info-box__criteria--3 {
      color: #3499e2; }
  .user-info-box__right {
    width: 70%; }
    @media (max-width: 960px) {
      .user-info-box__right {
        width: 100%;
        text-align: center; } }
  .user-info-box__chart {
    flex: 1; }
    @media (max-width: 960px) {
      .user-info-box__chart {
        flex: 0 0 100%;
        min-height: 60px;
        position: relative; } }
  .user-info-box__value {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif; }
    .user-info-box__value--1 {
      color: #5a68bf; }
    .user-info-box__value--2 {
      color: #18c5a9; }
    .user-info-box__value--3 {
      color: #3499e2; }
  .user-info-box__text {
    display: block;
    font-size: 1.2rem;
    color: #5b5b5b;
    font-weight: 500; }

.table-states {
  font-size: 1.3rem;
  color: #2d2d2d;
  border-radius: 3px 0 0 3px;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07); }
  .table-states__header {
    font-size: 1.3rem;
    font-weight: 500;
    color: #34495f;
    padding: 1.8rem 1.5rem;
    background-color: transparent;
    text-transform: uppercase; }
  .table-states__footer {
    padding: .8rem;
    background-color: #fff; }
    .table-states__footer a {
      text-transform: uppercase;
      font-weight: 700;
      background-color: #006cd8;
      color: #fff;
      font-size: 1.1rem;
      padding: 1.5rem 0;
      border-radius: 0;
      letter-spacing: .08em; }
      .table-states__footer a:hover {
        background-color: #005fbf; }
  .table-states .table thead > tr > th {
    font-weight: 700; }
  .table-states .table th,
  .table-states .table td {
    border: none;
    padding: 1.1rem 1rem; }
  .table-states .table tr.hidden {
    display: none; }
  .table-states .table tr.visible {
    display: table-row; }
  .table-states .table tr > th {
    font-weight: 300; }
  .table-states .table tr.highlight {
    background-color: rgba(170, 211, 223, 0.2); }
  @media (max-width: 768px) {
    .table-states__table {
      overflow-x: scroll; } }

.dataTables_info {
  font-size: 1.2rem;
  color: #333; }

.page-item.active .page-link {
  border-color: #006cd8;
  background-color: #006cd8; }

.paginate_button {
  padding: 0rem; }

.container-map {
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 0 3px 3px 0;
  border: none; }
  .container-map .leaflet-right .leaflet-control {
    background: #fff;
    padding: .8em; }
  .container-map #map {
    height: 38rem; }

.data-box {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); }
  .data-box__header {
    background-color: transparent;
    padding: 1.5rem;
    font-weight: 500; }
    .data-box__header span {
      font-size: 1.3rem;
      font-weight: 500;
      color: #34495f;
      text-transform: uppercase; }
    .data-box__header i {
      font-size: 1.5rem; }
  .data-box__content {
    font-size: 1.2rem;
    padding: 1.5em 1.2em; }
    .data-box__content--1 {
      color: #34495f;
      height: 300px; }
      .data-box__content--1 .circle {
        display: inline-block;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: #ccc;
        position: relative;
        top: 2px;
        margin-right: .8rem;
        font-size: 1.5rem; }
        .data-box__content--1 .circle--1 {
          background-color: #5c6bc0; }
        .data-box__content--1 .circle--2 {
          background-color: #18c5a9; }
        .data-box__content--1 .circle--3 {
          background-color: #ff4081; }
      .data-box__content--1 .device-box {
        max-width: 220px;
        margin: 0 auto; }
        .data-box__content--1 .device-box__icon {
          font-size: 1.7rem;
          color: #ddd; }
          .data-box__content--1 .device-box__icon--1 {
            color: #5c6bc0; }
          .data-box__content--1 .device-box__icon--2 {
            color: #18c5a9; }
          .data-box__content--1 .device-box__icon--3 {
            color: #ff4081; }
          .data-box__content--1 .device-box__icon ~ span {
            font-size: 2rem; }
      .data-box__content--1 .device-chart-container {
        position: relative;
        height: 190px;
        margin: 1em 0 1em 0; }
        .data-box__content--1 .device-chart-container #deviceChart {
          height: 180px; }
      .data-box__content--1 #deviceChart {
        position: absolute;
        top: 0; }
    .data-box__content--2 {
      height: 300px;
      font-size: 1.3rem; }
      .data-box__content--2 .list-group-item {
        border: none;
        padding: 0;
        color: #34495f;
        display: inline-block; }
        .data-box__content--2 .list-group-item .icon {
          font-size: 1.5rem; }
        .data-box__content--2 .list-group-item .badge {
          font-weight: 500; }
    .data-box__content--3 {
      height: 300px;
      overflow-y: scroll; }
      .data-box__content--3 .table {
        color: #34495f;
        font-size: 1.3rem; }
        .data-box__content--3 .table thead > tr > th {
          font-weight: 700; }
        .data-box__content--3 .table th,
        .data-box__content--3 .table td {
          border: none;
          padding: .85rem 1rem; }
        .data-box__content--3 .table tr > th {
          font-weight: 300; }
        .data-box__content--3 .table tr.highlight {
          background-color: rgba(170, 211, 223, 0.2); }
  .data-box__footer {
    font-size: 1.8rem;
    padding: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #fff;
    letter-spacing: .05rem; }

.chart-box {
  font-size: 1.3rem;
  background-color: #fff; }
  .chart-box__body .tab-content .d-flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify !important;
    -webkit-justify-content: space-between !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important; }
  .chart-box__body .nav-pills .nav-link {
    color: #000;
    font-size: 1.3rem; }
    .chart-box__body .nav-pills .nav-link.active {
      background-color: #006cd8;
      color: #fff; }
  .chart-box__body .easypie {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-align: center;
    position: relative; }
    .chart-box__body .easypie-data {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 10px;
      margin: 0; }

.filter-bar {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 3px;
  width: 100%; }
  .filter-bar div[class^="bfh-flag"] {
    display: inline-block; }
  .filter-bar .badge {
    position: absolute;
    z-index: 1000;
    background-color: #18c5a9;
    font-size: .9rem !important;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    letter-spacing: .1rem;
    padding: .5rem .8rem;
    top: -1.9rem;
    left: 0rem;
    border-radius: 3px 3px 0 0;
    text-transform: uppercase; }
  .filter-bar > * {
    font-size: 1.4rem !important; }
  .filter-bar .form-filter label {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
    padding: 0 .8rem;
    border: 1px solid #eee;
    border-radius: 3px;
    color: #000;
    text-align: center;
    background-color: #f9f9f9;
    align-items: center;
    vertical-align: center;
    height: 30px;
    width: 35px;
    line-height: 27px;
    background-color: #fff;
    border-right: none; }
    .filter-bar .form-filter label i {
      font-size: 1.2rem;
      position: relative; }
  .filter-bar .form-filter select {
    font-size: 1.2rem;
    border-radius: 0;
    border-color: transparent;
    outline: none;
    background-color: #fafafa;
    height: 30px;
    border: 1px solid #eee; }
  .filter-bar .btn-report {
    font-size: 1rem;
    background-color: #006cd8;
    padding: .9rem .8rem;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .15rem;
    box-shadow: 0 3px 6px rgba(155, 203, 251, 0.7); }
    .filter-bar .btn-report i {
      padding-right: .5rem;
      font-size: 1rem; }
  .filter-bar .alert h5 {
    font-size: 1.2rem; }
  .filter-bar .alert p {
    font-size: 1.1rem; }

.calendar-widget .table {
  display: table; }
  .calendar-widget .table tr td {
    display: table-cell;
    padding: 1rem !important; }

.spinner {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, white 30%, white 50%, white 65%, rgba(255, 255, 255, 0.7) 100%);
  min-height: 100vh;
  display: none;
  z-index: -1; }
  .spinner.active {
    display: block;
    z-index: 9000; }
  .spinner .lds-grid {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .spinner .lds-grid div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgba(0, 108, 216, 0.9);
    animation: lds-grid 1.2s linear infinite; }
  .spinner .lds-grid div:nth-child(1) {
    top: 6px;
    left: 6px;
    animation-delay: 0s; }
  .spinner .lds-grid div:nth-child(2) {
    top: 6px;
    left: 26px;
    animation-delay: -0.4s; }
  .spinner .lds-grid div:nth-child(3) {
    top: 6px;
    left: 45px;
    animation-delay: -0.8s; }
  .spinner .lds-grid div:nth-child(4) {
    top: 26px;
    left: 6px;
    animation-delay: -0.4s; }
  .spinner .lds-grid div:nth-child(5) {
    top: 26px;
    left: 26px;
    animation-delay: -0.8s; }
  .spinner .lds-grid div:nth-child(6) {
    top: 26px;
    left: 45px;
    animation-delay: -1.2s; }
  .spinner .lds-grid div:nth-child(7) {
    top: 45px;
    left: 6px;
    animation-delay: -0.8s; }
  .spinner .lds-grid div:nth-child(8) {
    top: 45px;
    left: 26px;
    animation-delay: -1.2s; }
  .spinner .lds-grid div:nth-child(9) {
    top: 45px;
    left: 45px;
    animation-delay: -1.6s; }

@keyframes lds-grid {
  0%,
  100% {
    opacity: 1; }
  50% {
    opacity: 0.5; } }

.page-sidebar {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: -210px;
  width: 210px;
  background-color: #fff;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: 1001;
  -webkit-box-shadow: 0 5px 20px #d6dee4;
  box-shadow: 0 5px 20px #d6dee4;
  z-index: 9000; }
  .page-sidebar.opened, .page-sidebar.shined {
    left: 0; }
  .page-sidebar.collapse.in {
    height: auto !important; }

.side-menu {
  margin: 0;
  list-style: none;
  padding-left: 0;
  padding-bottom: 60px ul;
    padding-bottom-padding: 0;
    padding-bottom-margin: 0;
    padding-bottom-list-style: none; }
  .side-menu .heading {
    padding: 12px 15px;
    display: block;
    font-size: 13px;
    color: #abb4c7; }
  .side-menu li a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 12px 0px;
    white-space: nowrap;
    overflow: hidden;
    color: #71808f;
    font-size: 1.3rem;
    text-decoration: none;
    line-height: 25px;
    font-weight: 300; }
    .side-menu li a i {
      padding: .5rem 1rem .5rem 1rem;
      font-size: 1.5rem; }
  .side-menu li a:focus,
  .side-menu li a:hover {
    color: #006cd8;
    background-color: #ebedf7; }
  .side-menu .arrow,
  .side-menu .sidebar-item-icon,
  .side-menu .arrow,
  .side-menu .sidebar-item-icon {
    color: #5c6bc0; }
  .side-menu li a.active {
    color: #006cd8; }
  .side-menu li .sidebar-item-icon {
    width: 35px;
    line-height: 20px !important;
    font-size: 18px;
    -webkit-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
    color: #abb4c7; }
  .side-menu li .nav-label {
    -webkit-transition: color .15s ease-in-out;
    -o-transition: color .15s ease-in-out;
    transition: color .15s ease-in-out; }
  .side-menu li .arrow {
    line-height: 18px;
    -webkit-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    transition: all .15s ease-in;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 15px;
    opacity: 1;
    color: #abb4c7; }
  .side-menu li.active > a > .arrow {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  .side-menu > li.active > a {
    background-color: #006cd8; }
  .side-menu .nav-3-level > li > a {
    padding: 7px 10px 7px 60px; }
  .side-menu .nav-2-level > li > a {
    padding: 7px 10px 7px 0px;
    font-size: 1.2rem; }
  .side-menu > li.active > a,
  .side-menu > li.active > a .arrow,
  .side-menu > li.active > a .sidebar-item-icon {
    color: #fff; }

.default-widget {
  padding: 2.8rem;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); }
  .default-widget h6 {
    font-size: 1.2rem; }
  .default-widget .ibox {
    position: relative;
    margin-bottom: 25px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); }
  .default-widget .ibox .ibox-head {
    padding: 0 20px;
    border-bottom: 1px solid #eee;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 60px; }
  .default-widget .ibox .ibox-head .ibox-title {
    font-size: 16px;
    font-weight: 500; }
  .default-widget .easypie {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-align: center;
    position: relative; }
  .default-widget .easypie .easypie-data {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
    margin: 0; }
  .default-widget .d-flex {
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .default-widget .easypie {
    min-height: 100px;
    min-width: 100px; }
  .default-widget .easypie-data {
    position: absolute;
    left: 50%;
    font-size: 2.2rem; }
  .default-widget .easypie-data ~ canvas {
    position: absolute;
    left: 0; }
  .default-widget .tab-pane .badge {
    font-size: 1rem;
    font-weight: 600;
    padding: .5rem 1rem;
    border: 1px solid #ccc;
    border: none !important;
    font-weight: 400; }
  .default-widget .tab-pane small {
    color: #333;
    font-size: 1.1rem !important;
    margin-top: .5rem; }
  .default-widget .nav-pills .icon {
    position: relative;
    top: 5px; }
  .default-widget .nav-link {
    color: #222;
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: lowercase; }
  .default-widget .nav-link.active {
    background-color: transparent;
    color: #222;
    border-radius: 0;
    border-bottom: 2px solid #18c5a9; }

.default-widget-1 {
  padding: 2rem;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); }
  @media (max-width: 768px) {
    .default-widget-1 {
      padding: 0; }
      .default-widget-1 .nav-pills {
        border-top: 1px solid #eee;
        margin-top: 15px;
        padding-top: 15px; }
        .default-widget-1 .nav-pills .nav-item {
          display: block;
          width: 100%;
          text-align: center; }
          .default-widget-1 .nav-pills .nav-item .nav-link.active {
            border: none;
            background-color: #eee;
            border: 1px solid #ddd;
            border-radius: 3px;
            padding: .7rem 1rem; } }
  .default-widget-1 #visitors_chart {
    height: 260px;
    display: block;
    width: 1015px; }
    @media (max-width: 489px) {
      .default-widget-1 #visitors_chart {
        height: 130px !important; } }
  .default-widget-1 .default-widget__footer .widget-item {
    flex: 1;
    text-align: center; }
    .default-widget-1 .default-widget__footer .widget-item fle
.flag-icon {
      font-size: 2rem;
      display: block;
      margin: 0 auto;
      padding-top: 2rem; }
    .default-widget-1 .default-widget__footer .widget-item__icon {
      font-size: 1rem;
      display: none; }
    .default-widget-1 .default-widget__footer .widget-item__head {
      font-weight: 700;
      font-size: 1.2rem; }
      @media (max-width: 4798px) {
        .default-widget-1 .default-widget__footer .widget-item__head {
          display: none; } }
    .default-widget-1 .default-widget__footer .widget-item__value {
      text-align: center;
      display: block; }
    .default-widget-1 .default-widget__footer .widget-item__percentage {
      font-weight: 500;
      margin-top: 1rem;
      color: #000;
      background-color: rgba(116, 70, 229, 0.05);
      display: inline-block;
      width: 45px;
      height: 45px;
      line-height: 45px;
      border-radius: 3px;
      font-size: 1.5rem; }
      @media (max-width: 479px) {
        .default-widget-1 .default-widget__footer .widget-item__percentage {
          width: 100%;
          background-color: transparent;
          font-size: 22px; } }
    @media (max-width: 479px) {
      .default-widget-1 .default-widget__footer .widget-item {
        flex: 0 0 100%;
        padding: 10px 0; } }
  .default-widget-1 .ibox-body .d-flex {
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .default-widget-1 .nav-pills .icon {
    position: relative;
    top: 5px; }
  .default-widget-1 .nav-link {
    color: #222;
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: lowercase; }
  .default-widget-1 .nav-link.active {
    background-color: transparent;
    color: #222;
    border-radius: 0;
    border-bottom: 2px solid #000; }

.navbar-top {
  box-shadow: 0 1px 9px #e2e3e9;
  background-color: #ffffff !important;
  align-items: center;
  font-size: 1.4rem;
  height: 60px;
  line-height: 60px; }
  .navbar-top .container {
    max-width: 100rem; }
  .navbar-top__toggle {
    cursor: pointer;
    font-size: 23px; }
  .navbar-top__right .btn {
    font-size: 1.5rem;
    border: 1px solid #f1f1f1;
    background-color: #fefefe;
    color: #006cd8;
    padding: .4rem .8rem; }
  .navbar-top__right .dropdown-item {
    font-size: 1.4rem; }

@media (min-width: 768px) {
  .container {
    max-width: 96%; } }

.login-container {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%); }

.page-login {
  font-family: "Poppins", sans-serif !important;
  padding-top: 15rem; }
  .page-login .btn_login {
    background-color: #3d86fe;
    color: #fff;
    display: inline-block;
    text-transform: uppercase !important;
    letter-spacing: .06em;
    font-weight: 500;
    padding: 1.2rem 6rem;
    font-size: 1.5rem;
    border-radius: 3px;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 500px !important; }
  .page-login .form-control {
    padding: 1rem;
    border: none;
    border-bottom: 1px solid #eee;
    border-radius: 0;
    margin-bottom: 1.4rem;
    outline: none; }

.login-form {
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.05);
  border: none;
  padding-top: 1rem;
  padding-bottom: 2rem; }

.page-login .login-form {
  background-color: #fff;
  color: #000;
  position: relative;
  border-radius: 5px; }

.page-login .login-form label {
  display: none; }

.page-login .login-form .logo {
  max-width: 150px; }

.page-login .login-form .h6 {
  color: #a23044;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: .1rem; }

.page-login .login-form::before {
  content: "\f364";
  font-family: FontAwesome;
  position: absolute;
  background-color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  box-shadow: 0 2px 20px rgba(196, 200, 226, 0.5);
  text-align: center;
  top: -30px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 25px;
  color: #3d86fe; }

.page-login .login-form ::placeholder {
  color: #7f96b3;
  opacity: 1;
  font-size: 12px;
  letter-spacing: .02em; }

.page-login .login-form :-ms-input-placeholder {
  color: #91a8c5; }

.page-login .login-form ::-ms-input-placeholder {
  color: #91a8c5; }

.page-login .login-form .ui-switch-wrapper {
  font-size: 14px;
  color: #345f82; }

.btn_register {
  font-size: 1.5rem;
  font-weight: 700;
  display: block;
  padding: 1.1rem 6rem !important;
  display: inline-block !important;
  border: 1px solid #3d86fe;
  border-radius: 100px;
  font-size: 1.3rem;
  text-transform: uppercase !important; }

.page-login .login-form .forgot-password {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: -.05rem;
  color: #3dd4fe;
  display: inline-block; }

.page-login .login-form .ui-switch {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.page-login .login-form .ui-switch label ~ span {
  margin-left: 2rem;
  display: block;
  font-size: 1.1rem;
  padding-right: 2rem; }

.page-login .login-form .switch-text {
  font-size: 1.2rem; }

.page-login .login-form .ui-switch input {
  height: 0;
  width: 0;
  position: absolute;
  opacity: 0; }

.page-login .login-form .ui-switch span {
  display: inline-block;
  position: relative;
  width: 55px;
  height: 16px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid #ebedee;
  cursor: pointer; }

.page-login .login-form .ui-switch.switch-icon input:checked ~ span:after {
  content: "\f17b"; }

.page-login .login-form .ui-switch input:checked ~ span:after {
  left: -webkit-calc(100% - 25px);
  left: calc(100% - 25px);
  background-color: #3dd4fe; }

.page-login .login-form .ui-switch.switch-icon span:after {
  font-family: FontAwesome;
  content: "\f191"; }

.page-login .login-form .ui-switch span:after {
  content: '';
  height: 22px;
  width: 22px;
  line-height: 24px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: -4px;
  color: #f7f8fa;
  background-color: #dfe2ea;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  text-align: center;
  font-size: 13px; }

.page-login .login-text {
  font-size: 1.6rem;
  font-weight: 300;
  color: #000;
  padding-left: 8rem;
  border-left: 1px solid #eee;
  box-shadow: inset 1px 0 #fff;
  margin-left: 5rem; }
  .page-login .login-text h4 {
    font-size: 2.8rem;
    padding-top: 2rem;
    font-weight: 300; }
  .page-login .login-text p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: #444; }

.page-login .login-text .social-icons {
  padding: 0; }

.page-login .login-text .social-icons a {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 41px;
  text-align: center;
  background-color: #fff;
  color: #3d86fe;
  font-size: 18px;
  color: #3d86fe;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  font-weight: lighter;
  border-radius: 500px;
  margin: 0 0 0 .5em;
  text-decoration: none; }

.page-login .login-text .social-icons a:hover {
  opacity: .7; }

.page-login .login-text .social-icons a:first-of-type {
  margin-left: 0; }

.page-login .login-text ul {
  list-style: none;
  padding: 0; }

.page-login .login-text ul li {
  margin-bottom: 1.4rem;
  font-size: 1.3rem;
  color: #333; }

.page-login .login-text ul li i {
  color: #21c1ac;
  margin-right: 1em; }

.criteria-search {
  position: relative; }
  .criteria-search__input {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0; }
  .criteria-search__box {
    display: none;
    position: absolute;
    line-height: 22px;
    min-width: 250px;
    top: 3rem; }
  .criteria-search__title {
    color: #000;
    font-size: 1.4rem;
    font-weight: 500; }
  .criteria-search__description {
    font-size: 1.2rem; }

.date-range__input {
  border: 1px solid #eee;
  border-radius: 3px;
  padding: .7rem 1rem; }

.date-range .fa-calendar {
  margin-top: 1rem;
  padding-right: 1rem;
  font-size: 2.2rem;
  color: #ddd; }
