$color-1: #5c6bc0;
$color-2: #18c5a9;
$color-3: #ff4081;
.data-box {
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,.08);
    &__header {
        background-color: transparent;
        padding: 1.5rem;
        font-weight: 500;
    
        span {
            font-size: 1.3rem;
            font-weight: 500;
            color: #34495f;
            text-transform: uppercase;
        }
        i {
            font-size: 1.5rem;
        }
    }
    &__content {
        font-size: 1.2rem;
        padding: 1.5em 1.2em;
        &--1 {
            color: #34495f;
            height: 300px;
            .circle {
                display: inline-block;
                height: 12px;
                width: 12px;
                border-radius: 50%;
                background-color: #ccc;
                position: relative;
                top: 2px;
                margin-right: .8rem;
                font-size: 1.5rem;
                &--1 {
                    background-color: $color-1;
                }
                &--2 {
                    background-color: $color-2;
                }
                &--3 {
                    background-color: $color-3;
                }
            }
            .device-box {
                max-width: 220px;
                margin: 0 auto;
                &__icon {
                    font-size: 1.7rem;
                    color: #ddd;

                    &--1 {
                        color: $color-1;
                    }
                    &--2 {
                        color: $color-2;
                    }
                    &--3 {
                        color: $color-3;
                    }

                    &~span {
                        font-size: 2rem;
                    }
                }
            }
            .device-chart-container {
                position: relative;
                height: 190px;
                margin: 1em 0 1em 0;   
                
                #deviceChart {
                    height: 180px;
                }
            }
            #deviceChart {
                position: absolute;
                top: 0;
            }
        }

        &--2 {
            height: 300px;
            font-size: 1.3rem;

            .list-group {
                &-item {
                    border: none;
                    padding: 0;
                    color: #34495f;
                    display: inline-block;
    
                    .icon {
                        font-size: 1.5rem;
                    }
    
                    .badge {
                        font-weight: 500;
                    }
                }
            }
        }

        &--3 {
            height: 300px;
            overflow-y: scroll;

            .table {
                color: #34495f;
                font-size: 1.3rem;
                thead > tr > th {
                    font-weight: 700;
                }
                th,
                td {
                    border: none;
                    padding: .85rem 1rem;
                }
                tr {
                    &>th {
                        font-weight: 300;
                    }
                    &.highlight {
                        background-color: $higlight-row-color;
                    }
                }
            }
        }
    }
    &__footer {
        font-size: 1.8rem;
        padding: 1.2rem;
        text-transform: uppercase;
        font-weight: bold;
        background-color: #fff;
        letter-spacing: .05rem;
    }
}