// color: rgb(90, 104, 191);
// color: rgb(24, 197, 169);
// color: rgb(52, 153, 226);

.default-widget {
    padding: 2.8rem;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);

    h6 {
        font-size: 1.2rem;
    }

    .ibox {
        position: relative;
        margin-bottom: 25px;
        background-color: #fff;
        -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .15);
        box-shadow: 0 0 1px rgba(0, 0, 0, .15);
        -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
        box-shadow: 0 2px 4px rgba(0, 0, 0, .08)
    }
    .ibox .ibox-head {
        padding: 0 20px;
        border-bottom: 1px solid #eee;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        min-height: 60px
    }
    .ibox .ibox-head .ibox-title {
        font-size: 16px;
        font-weight: 500
    }
    .easypie {
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        text-align: center;
        position: relative
    }
    .easypie .easypie-data {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 10px;
        margin: 0
    }

    .d-flex {
        -webkit-justify-content: space-between;
        // -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .easypie {
        min-height: 100px;
        min-width: 100px;
    }

    .easypie-data {
        position: absolute;
        left: 50%;
        font-size: 2.2rem;
    }

    .easypie-data ~ canvas {
        position: absolute;
        left: 0;
    }

    .tab-pane {
        .badge {
            font-size: 1rem;
            font-weight: 600;
            padding: .5rem 1rem;
            // box-shadow: 0 1px 5px rgba(100,100,100,.3);
            border: 1px solid #ccc;
            border: none !important;
            font-weight: 400;
        }
        small {
            color: #333;
            font-size: 1.1rem !important;
            margin-top: .5rem;

        }
    }
    
    .nav {
        &-pills {
            .icon {
                position: relative;
                top:5px;
            }
        }
        
        &-link {
            color: #222;
            font-weight: 500;
            font-size: 1.2rem;
            text-transform: lowercase;
        }
        
        &-link.active {
            background-color: transparent;
            color: #222;
            border-radius: 0;
            border-bottom: 2px solid #18c5a9;
        }
    }
}

.default-widget-1 {
    padding: 2rem;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);

    @media (max-width: 768px) {
        padding: 0;
        .nav-pills {
            border-top: 1px solid #eee;
            margin-top: 15px;
            padding-top:15px;
            .nav-item {
                display: block;
                width: 100%;
                text-align: center;

                .nav-link.active {
                    border: none;
                    background-color: #eee;
                    border: 1px solid #ddd;
                    border-radius: 3px;
                    padding: .7rem 1rem;
                }
            }
        }
    }

    #visitors_chart {
        height: 260px; display: block; width: 1015px;

        @media (max-width: 489px) {
            height: 130px !important;
        }
    }

    .default-widget__footer {
        .widget-item {
            flex: 1;
            text-align:center;
            fle

            .flag-icon {
                font-size: 2rem;
                display: block;
                margin: 0 auto;
                padding-top:2rem;
            }

            &__icon {
                font-size: 1rem;
                display: none;
            }
            &__head {
                font-weight: 700;
                font-size: 1.2rem;

                @media (max-width: 4798px) {
                    display: none;
                }
            }
            &__value {
                text-align: center;
                display: block;
            }
            &__percentage {
                font-weight: 500;
                margin-top: 1rem;
                color: #000;
                background-color: rgba(116, 70, 229, 0.05);
                display: inline-block;
                width: 45px;
                height: 45px;
                line-height: 45px;
                border-radius: 3px;
                font-size: 1.5rem;

                @media (max-width: 479px) {
                    width: 100%;
                    background-color: transparent;
                    font-size: 22px;
                }
            }

            @media (max-width: 479px) {
                flex: 0 0 100%;
                padding: 10px 0;
            } 
        }
    }

   .ibox-body {
    .d-flex {
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
   }

    .nav {
        &-pills {
            .icon {
                position: relative;
                top:5px;
            }
        }
        
        &-link {
            color: #222;
            font-weight: 500;
            font-size: 1.2rem;
            text-transform: lowercase;
        }
        
        &-link.active {
            background-color: transparent;
            color: #222;
            border-radius: 0;
            border-bottom: 2px solid #000;
        }
    }
}

