.container-map {
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 0 $default-border-radius $default-border-radius 0;
    border: none;

    .leaflet-right .leaflet-control {
        background: #fff;
        padding: .8em;
    }

    #map {
        height: 38rem;
    }
}