.page-sidebar {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: -210px;
    width: 210px;
    background-color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    z-index: 1001;
    -webkit-box-shadow: 0 5px 20px #d6dee4;
    box-shadow: 0 5px 20px #d6dee4;
    z-index: 9000;
    &.opened,
    &.shined {
        left: 0
    }
    &.collapse.in {
        height: auto !important;
    }
}

.side-menu {
    margin: 0;
    list-style: none;
    padding-left: 0;
    padding-bottom: 60px ul {
        padding: 0;
        margin: 0;
        list-style: none
    }
    .heading {
        padding: 12px 15px;
        display: block;
        font-size: 13px;
        color: #abb4c7
    }
    li a {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 12px 0px;
        white-space: nowrap;
        overflow: hidden;
        color: #71808f;
        font-size: 1.3rem;
        text-decoration: none;
        line-height: 25px;
        font-weight: 300;

        i {
            padding: .5rem 1rem .5rem 1rem;
            font-size: 1.5rem;
        }
    }
    li a:focus,
    li a:hover {
        color: $deep-blue;
        background-color: #ebedf7
    }
    .arrow,
    .sidebar-item-icon,
    .arrow,
    .sidebar-item-icon {
        color: #5c6bc0
    }
    li a.active {
        color: $deep-blue;
    }
    li .sidebar-item-icon {
        width: 35px;
        line-height: 20px !important;
        font-size: 18px;
        -webkit-transition: all .15s linear;
        -o-transition: all .15s linear;
        transition: all .15s linear;
        color: #abb4c7
    }
    li .nav-label {
        -webkit-transition: color .15s ease-in-out;
        -o-transition: color .15s ease-in-out;
        transition: color .15s ease-in-out
    }
    li .arrow {
        line-height: 18px;
        -webkit-transition: all .15s ease-in;
        -o-transition: all .15s ease-in;
        transition: all .15s ease-in;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 15px;
        // margin-top: -9px;
        opacity: 1;
        color: #abb4c7
    }
    li.active>a>.arrow {
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg)
    }
    &>li.active>a {
        background-color: $deep-blue;
    }
    .nav-3-level>li>a {
        padding: 7px 10px 7px 60px
    }
    .nav-2-level>li>a {
        padding: 7px 10px 7px 0px;
        font-size: 1.2rem;
    }
    &>li.active>a,
    &>li.active>a .arrow,
    &>li.active>a .sidebar-item-icon {
        color: #fff
    }
}