.page-sidebar {
    position: fixed;
    top: 57px;
    bottom: 0;
    left: -230px;
    width: 230px;
    background-color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    z-index: 1001;
    -webkit-box-shadow: 0 5px 20px #d6dee4;
    box-shadow: 0 5px 20px #d6dee4;
}
