.chart-box {
    font-size: 1.3rem;
    background-color: #fff;

    &__body {

        .tab-content {
            .d-flex {
                display: -webkit-box!important;
                display: -webkit-flex!important;
                display: -ms-flexbox!important;
                display: flex!important;
                -webkit-box-pack: justify!important;
                -webkit-justify-content: space-between!important;
                -ms-flex-pack: justify!important;
                justify-content: space-between!important;
                -webkit-box-align: center!important;
                -webkit-align-items: center!important;
                -ms-flex-align: center!important;
                align-items: center!important;
            }
        }
        .nav-pills {
            .nav-link { 
                color: #000;
                font-size: 1.3rem;
                &.active {
                    background-color: $deep-blue;
                    color: #fff
                }
            }
        }

        .easypie {
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex;
            text-align: center;
            position: relative;

            &-data {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: -webkit-inline-box;
                display: -webkit-inline-flex;
                display: -ms-inline-flexbox;
                display: inline-flex;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                padding: 10px;
                margin: 0;
            }
        }
    }
}