
$login-btn-color: #3d86fe;

.login-container {
    position: absolute;
    top:50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}

.page-login {
    font-family: "Poppins", sans-serif !important;
    padding-top: 15rem;

    .btn_login {
        background-color: $login-btn-color;
        color: #fff;
        display: inline-block;
        text-transform: uppercase !important;
        letter-spacing: .06em;
        font-weight: 500;
        padding: 1.2rem 6rem;
        font-size: 1.5rem;
        border-radius: 3px;
        font-weight: 500;
        text-transform: capitalize;
        border-radius: 500px !important;
    }

    .form-control {
        padding: 1rem;
        border: none;
        border-bottom: 1px solid #eee;
        border-radius: 0;
        margin-bottom: 1.4rem;
        outline: none;
    }
}

.login-form {
    box-shadow: 0 25px 40px rgba(0,0,0,.05);
    border: none;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.page-login .login-form {
    background-color: #fff;
    color: #000;
    position: relative;
    border-radius: 5px;
}

.page-login .login-form label {
    display: none;
}

.page-login .login-form .logo {
    max-width: 150px;
}

.page-login .login-form .h6 {
    color: #a23044;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .1rem;
}

.page-login .login-form::before {
    content: "\f364";
    font-family: FontAwesome;
    position: absolute;
    background-color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    box-shadow: 0 2px 20px rgba(196, 200, 226, 0.5);
    text-align: center;
    top: -30px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 25px;
    color: $login-btn-color;
}

.page-login .login-form ::placeholder {
    color: #7f96b3;
    opacity: 1;
    font-size: 12px;
    letter-spacing: .02em;
}

.page-login .login-form :-ms-input-placeholder {
    color: #91a8c5;
}

.page-login .login-form ::-ms-input-placeholder {
    color: #91a8c5;
}

.page-login .login-form .ui-switch-wrapper {
    font-size: 14px;
    color: #345f82;
}

.btn_register {
    font-size: 1.5rem;
    // border: 1px solid $login-btn-color;
    font-weight: 700;
    display: block;
    // padding: 1.5rem 2rem;
    padding: 1.1rem 6rem !important;
    display: inline-block !important;
    border: 1px solid $login-btn-color;
    border-radius: 100px;
    font-size: 1.3rem;
    text-transform: uppercase !important;
    // box-shadow: 0px 10px 20px rgba(0,0,0,.08)
}

.page-login .login-form .forgot-password {
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: -.05rem;
    color: #3dd4fe;
    display: inline-block;
}

.page-login .login-form .ui-switch {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.page-login .login-form .ui-switch label~span {
    margin-left: 2rem;
    display: block;
    font-size: 1.1rem;
    padding-right: 2rem;
}

.page-login .login-form  .switch-text {
    font-size: 1.2rem;
}

.page-login .login-form .ui-switch input {
    height: 0;
    width: 0;
    position: absolute;
    opacity: 0;
}

.page-login .login-form .ui-switch span {
    display: inline-block;
    position: relative;
    width: 55px;
    height: 16px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-color: #fff;
    border: 1px solid #ebedee;
    cursor: pointer;
}

.page-login .login-form .ui-switch.switch-icon input:checked~span:after {
    content: "\f17b";
}

.page-login .login-form .ui-switch input:checked~span:after {
    left: -webkit-calc(100% - 25px);
    left: calc(100% - 25px);
    background-color: #3dd4fe;
    // -webkit-box-shadow: 0 2px 8px 0 $login-btn-color;
    // box-shadow: 0 2px 8px 0 $login-btn-color;
}

.page-login .login-form .ui-switch.switch-icon span:after {
    font-family: FontAwesome;
    content: "\f191";
}

.page-login .login-form .ui-switch span:after {
    content: '';
    height: 22px;
    width: 22px;
    line-height: 24px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: -4px;
    color: #f7f8fa;
    background-color: #dfe2ea;
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
    text-align: center;
    font-size: 13px;
}

.page-login .login-text {
    font-size: 1.6rem;
    font-weight: 300;
    color: #000;
    padding-left: 8rem;
    border-left: 1px solid #eee;
    box-shadow: inset 1px 0 #fff;
    margin-left: 5rem;

    h4 {
        font-size: 2.8rem;
        padding-top: 2rem;
        font-weight: 300;
    }

    p {
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
        color: #444;
    }
}

.page-login .login-text .social-icons {
    padding: 0;
}

.page-login .login-text .social-icons a {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 41px;
    text-align: center;
    background-color: #fff;
    color: $login-btn-color;
    font-size: 18px;
    color: $login-btn-color;
    box-shadow: 0 2px 5px rgba(0,0,0,.05);
    font-weight: lighter;
    // border: 1px solid $deep-blue;
    border-radius: 500px;
    margin: 0 0 0 .5em;
    text-decoration: none;
}

.page-login .login-text .social-icons a:hover {
    opacity: .7;
}

.page-login .login-text .social-icons a:first-of-type {
    margin-left: 0;
}

.page-login .login-text ul {
    list-style: none;
    padding: 0;
}

.page-login .login-text ul li {
    margin-bottom: 1.4rem;
    font-size: 1.3rem;
    color: #333;
}

.page-login .login-text ul li i {
    color: #21c1ac;
    margin-right: 1em;
}